.item {
    display: flex;

    margin: 10px 0;
    padding-left: 30px;
}

.avatar {
    width: 35px;
    height: auto;

    border-radius: 50%;
}

.link {
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
    font-size: 18px;
    color: skyblue;
    text-decoration: none;
}

.link:hover {
    color: deepskyblue;
}

.active {
    color: deepskyblue;
    font-weight: bold;
}