.users {
    margin: 0;
    padding: 0;
    list-style: none;
}

.user {
    max-width: 300px;
    margin-bottom: 25px;
    padding: 10px;
    border: 2px solid antiquewhite;
    border-radius: 5px;
    display: flex;
}

.header {
    box-sizing: border-box;
    max-width: 100px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.avatarWrapper {
    box-sizing: border-box;
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    /*border: 5px solid antiquewhite;*/
    border-radius: 50%;
    overflow: hidden;
}

.avatar {
    width: 100%;
    height: auto;
}

.button {
    padding: 5px;
    background-color: antiquewhite;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}

.follow {
    background-color: #8cb98c;
}

.name {
    font-size: 21px;
    text-transform: uppercase;
    margin: 0;
}

.status {
    margin-top: 5px;
}