.header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    grid-area: header;

    background-color: grey;
}
.userNavigation {
    list-style: none;
    margin-right: 10px;
    font-size: 18px;
    font-weight: bold;
}