.info {
    margin-bottom: 50px;
    grid-area: info;
    display: grid;
    grid-template-columns: 4fr 10fr;
}

.userPhoto {
    padding: 10px;
    display: flex;
    flex-direction: column;

    max-width: 250px;
    background-color: grey;
}

.photo {
    margin-bottom: 10px;
    width: 100%;
    height: auto;
}

.button {
    padding: 10px;
    font: inherit;
    font-weight: bold;
    border: none;
    background-color: white;
    cursor: pointer;
}

.button:hover {
    color: white;
    background-color: skyblue;
}

.button:active {
    background-color: cornflowerblue;
}

.fullName {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.aboutMe {
    font-size: 20px;
    color: darkgray;
    margin: 0;
    padding: 0;
}

.job {
    margin-top: 50px;
}

.job p {
    margin: 0;
    padding: 0;
}

.jobSearch {
    display: flex;
}

.jobSearch img {
    margin-top: -3px;
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.jobStatus {
    font-weight: bold;
    color: goldenrod;
}