.dialogs {
    display: grid;
    grid-auto-rows: 60px 1fr;
    grid-template-columns: minmax(200px, 1fr) 5fr;
}
.title {
    margin: 0;
    grid-column-start: 1;
    grid-column-end: 3;

    font-size: 30px;
    color: cornflowerblue;
}

.list {
    padding: 0;
    margin: 0;
    list-style: none;
}
.messagesWrapper {
    border: 1px solid black;
    border-radius: 5px;
    max-width: 500px;
}
.messagesList {
    position: relative;

    display: flex;
    flex-direction: column;

    margin-top: 10px;
    margin-bottom: 15px;
    padding: 20px;
    max-width: 500px;
}

.messageForm {
    display: flex;
}

.textMessage {
    /*box-sizing: border-box;*/
    width: 100%;
    resize: none;
    border: none;
    padding-top: 10px;
    padding-left: 10px;
    background-color: rgba(177, 177, 177, 0.1);
}

.messageButton {
    width: 100px;
    border: none;
    background-color: rgba(177, 177, 177, 0.1);
    cursor: pointer;
}

.messageButton:hover {
    background-color: rgba(177, 177, 177, 0.5);
}

.messageButton:active {
    background-color: rgba(177, 177, 177, 1);
}