.wrapper {
    display: flex;
    align-items: center;
}

.logo {
    margin: 10px;
    width: 35px;
    border-radius: 50%;
}

.name {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 900;
}